<main>
    <h1>Managing client applications is now Easy!</h1>
    <section id="main-offers">
        <ul>
            <li class="main-offer">
                <article>
                    <img src="assets/images/task-assignment.jpg" alt="Task assignment">
                    <div class="main-offer-content">
                        <h2>Assign tasks in a matter of seconds!</h2>
                        <a routerLink="/task-assignment" skipLocationChange="true" class="btn">Assign tasks</a>
                    </div>
                </article>
            </li>
            <li class="main-offer">
                <article>
                    <img src="assets/images/onlline-meeting.jpg" alt="online meetings">
                    <div class="main-offer-content">
                        <h2>Hold meetings whenever needed!</h2>
                        <a routerLink="/meeting-schedule" skipLocationChange="true" class="btn">Schedule a meeting</a>
                    </div>
                </article>
            </li>
        </ul>
    </section>
</main>